<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186977183063-ou3vcmh1vpilm2avllbrbd7u133db6g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186977183063-ou3vcmh1vpilm2avllbrbd7u133db6g7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186977183063-46q676qf7fusopl30e8sm3kqfib320qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaJMQdboFpeG_uoVOQDhV4s8QE5IK37D4</string>
	<key>GCM_SENDER_ID</key>
	<string>186977183063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.gmobapp.RideApp</string>
	<key>PROJECT_ID</key>
	<string>milefreeplan</string>
	<key>STORAGE_BUCKET</key>
	<string>milefreeplan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:186977183063:ios:1698311c08f8a92d</string>
	<key>DATABASE_URL</key>
	<string>https://milefreeplan.firebaseio.com</string>
	<key>GOOGLE_API_KEY</key>
	<string>AIzaSyADf3iBecc38FPzbWxkNHRxguVWKkZ_8wM</string>
</dict>
</plist>
